.reveal {
    font-size: 30px;
}

.reveal h1 {
    font-size: 2em;
}

.reveal pre {
    width: 100%;
    font-size: 0.6em;
    box-shadow: none;
}

.reveal ul {
    padding-left: 30px;
}

.reveal .slides > section, 
.reveal .slides > section > section {
    margin: 0px;
}